@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

:root {
  --primary-color: #6067a4;
  --secondary-color: #4f59b4;
  --accent-color: #feb58d;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.menu {
  display: none;
}

.navbar {
  background-color: var(--secondary-color);
  height: 40px;
  padding: 1em 0;
}

.secondary-nav li a img {
  width: 2em;
  height: 2em;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.6em;
  font-family: "Hammersmith One", sans-serif;
  margin-right: 1em;
  margin-top: 0.1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

nav ul li {
  display: inline-block;
  margin: 0 0.5em;
}

.primary-nav li a {
  font-size: 1.2em;
  position: relative;
}

.primary-nav li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  transition: 0.7s;
}

.primary-nav li a:hover::after {
  width: 100%;
}

.hero {
  height: max-content;
  padding: 2em 0;
}

.hero .container {
  display: grid;
  grid-template-columns: 50% auto;
}

.content {
  margin-top: 15%;
  animation: transitionIn 2s;
}

.hero img {
  width: 100%;
  animation: transitionIn1 2s;
}

.content h1 {
  font-size: 3.3em;
}

.content h3 {
  font-weight: 300;
  letter-spacing: 3px;
  color: var(--accent-color);
  margin-bottom: 0.5em;
}

.content p {
  width: 20em;
  margin-bottom: 0.5em;
}

.content button {
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  font-family: "Poppins", sans-serif;
  width: max-content;
  padding: 0.2em 3em;
  font-size: 1.3em;
}

.about {
  background-color: var(--secondary-color);
  padding-bottom: 5em;
}
.about .container {
  display: grid;
  grid-template-columns: 40% 50%;
  align-items: center;
  gap: 2em;
  padding-top: 2em;
}

.about .container img {
  width: 100%;
}

.about-content h3 {
  font-weight: 300;
  letter-spacing: 5px;
}
.about-content h1 {
  font-size: 2.4em;
  font-weight: 600;
  border-bottom: solid 0.2em var(--accent-color);
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.testimonials {
  text-align: center;
  margin-bottom: 2em;
  height: 40vh;
  margin-bottom: 15vh;
  padding: 2em 0;
}

.testimonials ul {
  display: flex;
}

.testimonials ul li {
  background: var(--secondary-color);
  text-align: center;
  width: 80%;
  margin: 0 10px;
  border-radius: 1em;
  list-style: none;
  padding-bottom: 1em;
}

.testimonials img {
  width: 3em;
  margin-top: -4em;
  padding-top: 0;
  border: solid 5px var(--secondary-color);
  border-radius: 50%;
}

.testimonials ul li blockquote {
  padding: 1.5em 1em;
}

.testimonials h1 {
  text-align: left;
  margin-bottom: 2em;
  font-size: 2em;
  font-weight: 600;
  border-bottom: solid 3px var(--accent-color);
  width: max-content;
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 1em 0;
}

footer ul li {
  display: inline-block;
  margin: 0 0.5em;
}

footer p {
  color: #b4b4b4;
}
.mobilenav {
  display: none;
}

.exit {
  width: 25px;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {

  body {
      overflow-x: hidden;
  }
  nav {
    display: none;
  }

  .navbar {
    height: max-content;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .mobilenav {
    text-align: center;
    display: none;
    animation: transitionNav 1s;
  }

  .mobilenav li {
    display: inline-block;
    margin: 0 1.5em;
    font-size: 1.2em;
  }

  .mobilenav li a {
    position: relative;
  }

  .mobilenav li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    transition: 0.7s;
  }

  .mobilenav li a:hover::after {
    width: 100%;
  }

  .menu-btn {
    display: block;
  }

  .show {
    display: block;
  }

  .none {
    display: none;
  }

  .hero {
    text-align: center;
    padding-top: 1em;
  }

  .hero .container, .about .container {
      grid-template-columns: auto;
  }
  .content {
      margin-bottom: 1em;
    margin-top: 1em;
  }

  .content h1 {
      font-size: 2.4em;
  }

  .content p {
      width: unset;
  }

  .about .container img {
    display: none;
  }

  .about p {
      text-align: justify;
  }
  .testimonials {
      height: max-content;
      display: grid;
      justify-content: center;
      padding-bottom: 0;
      margin-bottom: 0;
  }

  .testimonials h1 {
      margin: 0 auto;
      margin-bottom: 2em;
  }

  .testimonials ul {
      flex-direction: column;
  }

  .testimonials ul li {
      margin: 1em 0;
      width: 100%;
  }
}

html {
    scroll-behavior: smooth;
}

.logo span{
    color: var(--accent-color);
}


@media only screen and (min-width: 1600px) {
    .content {
        margin-top: 20%;
      }
}


@media only screen and (min-width: 1920px) {
    .content {
        margin-top: 30%;
      }
}


@keyframes transitionIn {
    from {
        transform: translateY(-7rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes transitionIn1 {
    from {
        transform: translateY(7rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes transitionNav {
    from {
        transform: translateY(-3rem);
    }
    to {
        transform: translateY(0);
    }
}
